<% include partials/header %>
<%- messages('message', locals) %>

<head>
        <script>
                function ConvertToCSV() {
                    <% 
                        var awardData = new Array();
                        
                        var tableTitle = new Array();
                        tableTitle.push( 'Award Type');
                        tableTitle.push( 'Award Id');
                        tableTitle.push( 'Date Created');
                        tableTitle.push( 'Creator');
                        tableTitle.push( 'Department');
                        tableTitle.push( 'Recipient');
                        awardData.push(tableTitle);

                        awards.forEach(function(award) 
                        { 
                            var awardItem = new Array();
                            awardItem.push( award.awardType);
                            awardItem.push( award.awardId);
                            awardItem.push( award.dateCreated);
                            awardItem.push( award.fName + ' ' + award.lName);
                            awardItem.push( award.department);
                            awardItem.push( award.to_fName + ' ' + award.to_lName);
                            awardData.push(awardItem);
                        }) %>
                        var awards = <%- JSON.stringify(awardData); %>
            
                    var csv = '';
                    awards.forEach(award => 
                        {
                            for(var i = 0; i < award.length; i++)
                            {
                                csv += award[i];
                                if( i < award.length - 1)
                                {
                                    csv += ',';
                                }
                            }
                            csv += '\r\n'
                        }
                    )

                    //Send to download
                    console.log(csv);
                    var filename = 'HappyPawsData.csv';
                    var blob = new Blob([csv], { type: 'text/csv;charset=utf-8;' });
                    if (navigator.msSaveBlob) { 
                        navigator.msSaveBlob(blob, filename);
                    } else {
                        var link = document.createElement("a");
                        if (link.download !== undefined) { 
                           
                            var url = URL.createObjectURL(blob);
                            link.setAttribute("href", url);
                            link.setAttribute("download", filename);
                            link.style.visibility = 'hidden';
                            document.body.appendChild(link);
                            link.click();
                            document.body.removeChild(link);
                        }
                    }
                }
                </script>
</head>
   
<body>
        <h1>Happy Paws Employee Portal</h1><br>

        <h4>Analytics & Reporting</h4><br>
        
        <nav class="navbar navbar-expand-sm bg-light justify-content-center">
                <div class="collapse navbar-collapse" id="nav-content">
                    <ul class="navbar-nav w-100 nav-justified">
                        <li class="nav-item">
                            <a class="nav-link btn-custom1" href="/users/admin/analytics" role="button">User Leaderboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-custom1" href="/users/admin/analyticsuserparticipation" role="button">User Participation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-custom1" href="/users/admin/analyticsDept" role="button">Dept Leaderboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-custom1" href="/users/admin/analyticsdeptparticipation" role="button">Dept Participation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-custom1" href="/users/admin/analyticsAwardType" role="button">Award Type</a>
                        </li>                    
                        <li class="nav-item">
                            <a class="nav-link btn-custom1" disabled href="/users/admin/analyticsViewAllAwards" role="button" >View All Awards</a>
                        </li>
                    </ul>
                </div>
            </nav>  

 

  <br>

<table id="adminViewAllAwards" class="table table-striped table-curved table-hover table table-sm" style="width:100%">
    <thead class ="datatablethead">  
        <tr>
            <th>Award Type </th>
            <th>Award Id</th>
            <th>Date Created</th>
            <th>Creator</th> 
            <th>Department</th>
            <th>Recipient </th>
        </tr>
    </thead>
    <tbody>
        <% awards.forEach(function(award)  { %>
            <tr>
                <td><%= award.awardType %></td>
                <td><%= award.awardId %></td>
                <td><%= award.dateCreated %></td>
                <td><%= award.fName %> <%= award.lName %> </td>
                <td><%= award.department %></td>
                <td><%= award.to_fName %> <%= award.to_lName %> </td>
            </tr>
        <% }) %>
    </tbody>
</table> 

<br>
<div class="csvbutton">
        <a id="export" class="btn btn-custom2" href="javascript:void(0);" onclick="ConvertToCSV()"><i class='fas fa-file-export'></i> Export CSV File</a>
    </div>

<a class="btn btn-custom1 btn-lg" href="/users/admin/adminmenu" role="button">Back to Admin Main Menu</a><br><br>
</body>
<% include partials/footer %>