<% include partials/header %>
<%- messages('message', locals) %>
<% include partials/errorHandler %>

<head>
    <script>
        function ConvertToCSV() {
            <% 
            var userData = new Array();
                
            var tableTitle = new Array();
            tableTitle.push( 'User Id');
            tableTitle.push( 'First Name');
            tableTitle.push( 'Last Name');
            tableTitle.push( 'Email');
            tableTitle.push( 'Account Created On:');
            tableTitle.push( 'Title');
            tableTitle.push( 'Department');
            userData.push(tableTitle);
    
            users.forEach(function(user) 
            { 
                var userItem = new Array();
                userItem.push( user.userId);
                userItem.push( user.fName);
                userItem.push( user.lName);
                userItem.push( user.email);
                userItem.push( user.createdAt);
                userItem.push( user.title);
                userItem.push( user.department);
                userData.push(userItem);
            }) %>
            var users = <%- JSON.stringify(userData); %>

            var csv = '';
            users.forEach(user => 
                {
                    for(var i = 0; i < user.length; i++)
                    {
                        csv += user[i];
                        if( i < user.length - 1)
                        {
                            csv += ',';
                        }
                    }
                    csv += '\r\n'
                }
            )
    
            //Send to download
            console.log(csv);
            var filename = 'HappyPawsData.csv';
            var blob = new Blob([csv], { type: 'text/csv;charset=utf-8;' });
            if (navigator.msSaveBlob) { 
                navigator.msSaveBlob(blob, filename);
            } else {
                var link = document.createElement("a");
                if (link.download !== undefined) { 
                               
                    var url = URL.createObjectURL(blob);
                    link.setAttribute("href", url);
                    link.setAttribute("download", filename);
                    link.style.visibility = 'hidden';
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
                }
            }
        }
    </script>
</head>
    
<h1>Happy Paws Employee Portal</h1><br>

<h4>Manage User Accounts</h4><br>

<a class="btn btn-custom1 btn-md" href="/users/admin/createuseraccount" style="float: right" role="button"><i class='fas fa-user'></i> Add User</a>

<table id="userAccountsTable" class="table table-striped table-curved table-hover table table-sm" style="width:100%">
    <thead class ="datatablethead">  
        <tr>
            <th>User Id</th>
            <th>First Name</th> 
            <th>Last Name</th>
            <th>Email</th> 
            <th>Account Created On:</th>
            <th>Title</th>
            <th>Department</th> 
            <th style="padding-right: 0; padding-left: 0;text-align:center">Edit</th>
            <th style="padding-right: 0; padding-left: 0;text-align:center">Delete</th>
        </tr>
    </thead>
    <tbody>
        <% users.forEach(function(user)  { %>
            <tr>
                <td><%= user.userId %></td>
                <td><%= user.fName %></td>
                <td><%= user.lName %> </td>
                <td><%= user.email %></td>
                <td><%= user.createdAt %></td>
                <td><%= user.title %></td>
                <td><%= user.department %> </td>
                <td><button class="btn btn-edit1 btn-sm" onclick="location.href='/users/admin/edituseraccount/<%= user.userId %>'"style="display: block; margin: 0 auto"><i class='fas fa-pencil-alt'></i></button></td>
                <td><button class="btn btn-delete btn-sm" onclick='deleteUser("<%= user.userId %>")'style="display: block; margin: 0 auto"><i class='fas fa-trash-alt'></i></button></td>
            </tr>
        <% }) %>
    </tbody>    
</table>
<br>

<div class="csvbuttonTable">
    <a id="export" class="btn btn-custom2" href="javascript:void(0);" onclick="ConvertToCSV()"><i class='fas fa-file-export'></i> Export CSV File</a>
</div>

<a class="btn btn-custom1 btn-md" href="/users/admin/adminmenu" role="button">Back to Admin Main Menu</a><br><br>

<% include partials/footer %>