<% include partials/header %>
<%- messages('message', locals) %>
<% include partials/errorHandler %>

<h1>Happy Paws Employee Portal</h1><br>

<h4>Manage User Accounts</h4><br>


<table id="userAccountsTable" class="table table-striped table-curved table-hover" style="width:100%">
    <thead>  
        <tr>
            <th>User Id</th>
            <th>First Name</th> 
            <th>Last Name</th>
            <th>Email</th> 
            <th>Account Created On:</th>
            <th>Title</th>
            <th>Department</th> 
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <% users.forEach(function(user)  { %>
            <tr>
                <td><%= user.userId %></td>
                <td><%= user.fName %></td>
                <td><%= user.lName %> </td>
                <td><%= user.email %></td>
                <td><%= user.createdAt.toDateString(); %></td>
                <td><%= user.title %></td>
                <td><%= user.department %> </td>
                <td><button class="btn btn-info btn-sm" onclick="location.href='/users/admin/edituseraccount/<%= user.userId %>'"><i class='fas fa-pencil-alt'></i></button></td>
                <td><button class="btn btn-info btn-sm" onclick='deleteUser("<%= user.userId %>")'><i class='fas fa-trash-alt'></i></button></td>
            </tr>
        <% }) %>
    </tbody>    
</table>
<br>
<br>

    <a class="btn btn-info btn-lg" href="/users/admin/createuseraccount" role="button">Create New User Account</a>

<br><br>


<a class="btn btn-info btn-lg" href="/users/admin/adminmenu" role="button">Back to Admin Main Menu</a><br><br>

<% include partials/footer %>