<% include partials/header %>
<%- messages('message', locals) %>
<% include partials/errorHandler %>

<head>
    <script>
        function ConvertToCSV() {
            <% 
            var adminData = new Array();
            
            var tableTitle = new Array();
            tableTitle.push( 'Admin Id');
            tableTitle.push( 'Username');
            tableTitle.push( 'Account Created On:');
            tableTitle.push( 'Title');
            tableTitle.push( 'Department');
            adminData.push(tableTitle);

            admins.forEach(function(admin) 
            { 
                var adminItem = new Array();
                adminItem.push( admin.adminId);
                adminItem.push( admin.userName);
                adminItem.push( admin.createdAt);
                adminItem.push( admin.title);
                adminItem.push( admin.department);
                adminData.push(adminItem);
            }) %>
            var admins = <%- JSON.stringify(adminData); %>

            var csv = '';
            admins.forEach(admin => 
                {
                    for(var i = 0; i < admin.length; i++)
                    {
                        csv += admin[i];
                        if( i < admin.length - 1)
                        {
                            csv += ',';
                        }
                    }
                    csv += '\r\n'
                }
            )

            //Send to download
            console.log(csv);
            var filename = 'HappyPawsData.csv';
            var blob = new Blob([csv], { type: 'text/csv;charset=utf-8;' });
            if (navigator.msSaveBlob) { 
                navigator.msSaveBlob(blob, filename);
            } else {
                var link = document.createElement("a");
                if (link.download !== undefined) { 
                           
                    var url = URL.createObjectURL(blob);
                    link.setAttribute("href", url);
                    link.setAttribute("download", filename);
                    link.style.visibility = 'hidden';
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
                }
            }
        }
    </script>
</head>

<h1>Happy Paws Employee Portal</h1><br>

<h4>Manage Admin Accounts</h4><br>

<a class="btn btn-custom1 btn-md" href="/users/admin/createadminaccount" style="float: right" role="button"><i class='fas fa-user'></i> Add Admin</a>

<table id="adminAccountsTable" class="table table-striped table-curved table-hover table table-sm" style="width:100%">
    <thead class ="datatablethead">  
        <tr>
            <th>Admin Id</th>
            <th>User Name</th> 
            <th>Account Created On:</th>
            <th>Title</th>
            <th>Department</th> 
            <th style="padding-right: 0; padding-left: 0;text-align:center">Edit</th>
            <th style="padding-right: 0; padding-left: 0;text-align:center">Delete</th>
        </tr>
    </thead>
    <tbody>
        <% admins.forEach(function(admin)  { %>
            <tr>
                <td><%= admin.adminId %></td>
                <td><%= admin.userName %></td>
                <td><%= admin.createdAt %></td>
                <td><%= admin.title %></td>
                <td><%= admin.department %></td>
                <td><button class="btn btn-edit1 btn-sm" onclick="location.href='/users/admin/editadminaccount/<%= admin.adminId %>'"style="display: block; margin: 0 auto"><i class='fas fa-pencil-alt'></i></button></td>
                <td><button class="btn btn-delete btn-sm" onclick='deleteAdmin("<%= admin.adminId %>")'style="display: block; margin: 0 auto"><i class='fas fa-trash-alt'></i></button></td>
            </tr>
        <% }) %>
    </tbody>
</table>
<br> 

<div class="csvbuttonTable">
    <a id="export" class="btn btn-custom2" href="javascript:void(0);" onclick="ConvertToCSV()"><i class='fas fa-file-export'></i> Export CSV File</a>
</div>

<a class="btn btn-custom1 btn-md" href="/users/admin/adminmenu" role="button">Back to Admin Main Menu</a><br><br>


<% include partials/footer %>