<% include partials/header %>
<%- messages('message', locals) %>

<h1>Happy Paws Employee Portal</h1>
<br>

<h4>Your Profile</h4>
<div class='centered-buttons'>
  <a href="/users/usermainmenu"><button class="button">Back to Main Menu</button></a>&nbsp;&nbsp;
  <a href="/users/usereditprofile"><button class="button">Edit Profile</button></a>&nbsp;&nbsp;
  <a href="/users/userresetpassword"><button class="button">Change Password</button></a>
</div>
<br>
<br>

<table class="table">
      <tr>
        <th scope="row">First Name:</th>
        <td><%= user.fName %></td>
      </tr>
      <tr>
        <th scope="row">Last Name:</th>
        <td><%= user.lName %></td>
      </tr>
      <tr>
        <th scope="row">Email:</th>
        <td><%= user.email %></td>
      </tr>
      <tr>
        <th scope="row">Account Created On:</th>
        <td><%= user.createdAt %></td>
      </tr>
      <tr>
        <th scope="row">Department:</th>
        <td><%= user.department %></td>
      </tr>
      <tr>
        <th scope="row">Title:</th>
        <td><%= user.title %></td>
      </tr>
      <tr>
        <th scope="row">Signature:</th>
        <td><img class='sig' src="<%= sig_url %>"></td>
      </tr>
</table>
<br>
<!--
<div class='centered-buttons'>
    <a href="/users/usereditprofile"><button class="button">Edit Profile</button></a>
</div>
<br>
<div class='centered-buttons'>
    <a href="/users/userresetpassword"><button class="button">Change Password</button></a>
</div>
<br>
<div class='centered-buttons'>
    <a href="/users/usermainmenu"><button class="button">Back to Main Menu</button></a>
</div>
<br>
-->



<% include partials/footer %>