<% include partials/header %>

<head>
    <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    </style>
</head>
<h1>Happy Paws Employee Portal</h1>
<br>
<h4>User View Awards</h4>
<br>
<br>
<% if(user_awards.length == 0){ %>
    <p>No awards to display</p>
<% } else{ %>
    <table style="width:100%">
        <tr>
            <th>Award ID</th>
            <th>Date Created</th> 
            <th>Recipient First name</th>
            <th>Recipient Last name</th> 
            <th>Recipient Email</th>
        </tr>
        <% user_awards.forEach(function(award)  { %>
        <tr>
            <td><%= award.awardId %></td>
            <td><%= award.dateCreated %></td>
            <td><%= award.to_fName %> </td>
            <td><%= award.to_lName %> </td>
            <td><%= award.to_email %></td>
            <td><button onclick='deleteAward("<%= award.awardId %>")'>Delete</button></td>
        </tr>
    <% }) %>
    </table>
<% } %>

<br>
<div class='buttons'>
    <a href="/users/usermainmenu"><button class="btn btn-info">Back to Main Menu</button></a>
</div>

<% include partials/footer %>