<% include partials/header %>
<%- messages('message', locals) %>

<h1>Happy Paws Employee Portal</h1>
<br>

<h4>View Awards I've Created</h4>
<br>

<% if(user_awards.length == 0){ %>
    <p>No awards to display</p>
<% } else{ %>
    <table id="displayawardTable" class="table table-striped table-curved table-hover table table-sm" style="width:100%">
        <thead class ="datatablethead">  
            <tr>
                <th>Award Type</th>
                <th>Date Created</th> 
                <th>Recipient Name</th>
                <th>Recipient Email</th>
                <th style="padding-right: 0; padding-left: 0;text-align:center">Delete</th>
            </tr>
        </thead>
        <tbody>
            <% user_awards.forEach(function(award)  { %>
                <tr>
                    <td><%= award.awardType %></td>
                    <td><%= award.dateCreated %></td>
                    <td><%= award.to_fName %> <%= award.to_lName %> </td>
                    <td><%= award.to_email %></td>
                    <td><button class="btn btn-delete btn-sm" onclick='deleteAward("<%= award.awardId %>")'style="display: block; margin: 0 auto"><i class='fas fa-trash-alt'></i></button></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
<% } %>

<br>

<a class="btn btn-custom1 btn-md" href="/users/usermainmenu" role="button">Back to Main Menu</a><br><br>

<% include partials/footer %>