<% include partials/header %>
<%- messages('message', locals) %>
<% include partials/errorHandler %>

<h1>Happy Paws Employee Portal</h1>
<br>

<h4>Edit Your Profile</h4>
<br>

<form action="/users/usereditprofile" method="POST">
    <div class="form-group row">
        <label for='fName' class='col-sm-2 col-form-label'>First Name:</label>
        <div class='col-sm-10'>
            <input class="form-control" name="fName" type="text" value="<%= user.fName %>"  required>
        </div>
    </div>
    <div class="form-group row">
        <label for='lname' class='col-sm-2 col-form-label'>Last Name:</label>
        <div class='col-sm-10'>
            <input class="form-control" name="lName" type="text" value="<%= user.lName %>" required>
        </div>
    </div>
    <fieldset disabled>
        <div class="form-group row">
            <label for='email' class='col-sm-2 col-form-label'>Email:</label>
            <div class='col-sm-10'>
                <input type="text" class="form-control" name="email" value="<%= user.email %>" required>
            </div>
        </div>
    </fieldset>
    <div class="form-group row">
        <label for='title' class='col-sm-2 col-form-label'>Job Title:</label>
        <div class='col-sm-10'>
            <input type="text" class="form-control" name="title" value="<%= user.title %>" required>
        </div>
    </div>
    <div class="form-group row">
        <label for='department' class='col-sm-2 col-form-label'>Department:</label>
        <div class='col-sm-10'>
            <select class="form-control" name="department" value="<%= user.department %>">
                <option value= "<%= user.department %>" selected="selected"><%= user.department %></option>
                <option value = "Accounting and Finance">Accounting and Finance</option>
                <option value = "Daycare Attendants">Daycare Attendants</option>
                <option value = "Human Resources">Human Resources</option>
                <option value = "Information Systems">Information Systems</option>
                <option value = "Legal">Legal</option>
                <option value = "Marketing">Marketing</option>
                <option value = "Operations">Operations</option>
                <option value = "Veterinary Care">Veterinary Care</option>
            </select>
        </div>
    </div>
    <div class='buttons'>
        <button class="btn btn-custom1 btn-md" type="submit" value="submit">Update Profile</button>
    </div>
</form>

<div class='buttons'>
    <a href="/users/usermainmenu"><button class="btn btn-custom1 btn-md">Back to Main Menu</button></a>
</div>




<% include partials/footer %>