<% include partials/header %>
<%- messages('message', locals) %>

<head>
    <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    </style>
</head>
<h1>Happy Paws Employee Portal</h1>
<br>
<br>
<% if(user_awards.length == 0){ %>
    <p>No awards to display</p>
<% } else{ %>
    <table class="table">
        <tr>
            <th>Award Name</th>
            <th>Date Created</th> 
            <th>Recipient Name</th>
            <!--<th>Recipient Last Name</th> -->
            <th>Recipient Email</th>
            <th>Delete</th>
        </tr>
        <% user_awards.forEach(function(award)  { %>
        <tr>
            <td><%= award.awardType %></td>
            <td><%= award.dateCreated %></td>
            <td><%= award.to_fName %> <%= award.to_lName %> </td>
            <td><%= award.to_email %></td>
            <td><button class="table-button" onclick='deleteAward("<%= award.awardId %>")'>Delete</button></td>
        </tr>
    <% }) %>
    </table>
<% } %>

<br>
<div class="centered-buttons">
    <a href="/users/usermainmenu"><button class="button">Back to Main Menu</button></a>
</div>

<% include partials/footer %>